body {
	background-image: url("../images/bgsmall.png");
	font-family:'Times New Roman', Georgia, Times, Serif;
	padding-bottom: 100px;
}

.container-fluid {
	max-width: 980px;
}

#header {
	border-bottom: solid 3px #cccccc;
	 background-color: #ffffff;
	font: 20px Aerial, sans-serif;
}

#brand {
	background-color: #4aaaa5; 
	color: #ffffff; 
	font-weight: bolder;
	font: 25px Aerila, sans-serif;
	animation-name: logo;
	animation-duration: 4s; 
}

@keyframes logo {
    from {background-color: #4aaaa5;}
    to {background-color:#DCD688;}
}

@keyframes titles {
    from {color: #4aaaa5;}
    to {color:#DCD688;}
}

.container {
	max-width: 980px;
}

#sec {
	background-color: #ffffff;
	padding:0 10px 20px 10px;
}

#sec h1 {
	font: 25px aerial, sans-serif;
	font-weight: bolder;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	padding: 15px 5px;
	text-align: left;
	animation-name: titles;
	animation-duration: 4s;
}

#mug {
	padding: 20px 20px 5px 30px;
}

p {
	font: 18px aerial, sans-serif;
	color: #777777;
	line-height: 150%;
	text-align: left;
	padding: 10px 30px 0 30px;
}

#hangman {
	background-image: url("../images/ipad.jpg");
}

#rpg {
	background-image: url("../images/turntable.jpg");
}

#trivia {
	background-image: url("../images/headphones.jpg");
}

#widget {
	background-image: url("../images/mp3.jpg");
}

#pgs {
	background-image: url("../images/tv.jpg");
}
 
#pgs, #trivia, #rpg, #widget, #hangman {
	display:inline-block;
	margin: 10px;
	width: 275px;
	height: 180px;
}

h3 {
	font: 18px aerial, sans-serif;
	color: #ffffff; 
	padding: 15px 0;
	background-color: #4aaaa5;
	margin: 115px 0 5px 0;
	text-align: center;
}

form {
	font: 18px aerial, sans-serif;
	padding:15px;
	background-color: #ffffff;
	margin:10px;
	text-align: left;
}

input {
	width: 100%;
	border: solid 1px #cccccc;
	padding: 10px 0;
	font: 20px aerial, sans-serif;
	color: #cccccc;
	margin-bottom: 15px;
}

label {
	margin-bottom: 5px;
	padding: 10px 0;
	font: 20px aerial, sans-serif;
	color: #cccccc;
}

input[placeholder] {
	text-align: left;
	padding-left: 5px;
	font: 18px aerial, sans-serif;
	color: #cccccc;
}

input[type=submit] {
	font: 18px aerial, sans-serif;
	color: #ffffff;
	background-color: #4aaaa5;
	border: none;
	width: 120px;
	margin: 15px 0; 
	padding: 10px 0; 
}

textarea {
	width: 100%;
	height: 200px;
	font: 16px aerial, sans-serif;
	text-align: left;
}

#side-content {
	background-color: #ffffff;
	margin-top: 20px;
	padding: 5px 10px 0 10px;
}

#side-content img {
	margin: 10px 5px 30px 5px;
}

#side-content h1 {
	font: 25px aerial, sans-serif;
	font-weight: bolder;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	padding: 5px 5px 10px 5px;
	text-align: left;
	margin: 5px 0;
	animation-name: titles;
	animation-duration: 4s;
}

#footer-background {
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
}

#footer-text {
	font: 12px aerial, sans-serif;
	color: #ffffff;
	margin-left: 40%;
}
